.ts-message-thread-body .message-body {
     width: -webkit-fill-available !important;
} 

.chat-style .self .ts-message-thread-body {
    padding-left: 4.0rem !important;
}

.chat-style .thread-body:not(.self) .ts-message-thread-body {
    margin-right: 0rem !important; 
}  

.message-pane .new-typing-indicator, .message-list-common .middle-messages-context-stripe .ts-message-list-container, .message-list-common .ts-add-message .ts-new-message, .message-list-common .ts-message-list-container, .message-list-common .ts-new-meetup-animated, .message-list-common prompt-to-talk, .message-list-common smart-reply .smart-replies-alignment, .message-list-common virtual-repeat>.list-wrap>.item-wrap, .ts-add-message.is-not-chat .ts-new-message
{
	max-width: 400rem !important;
}

/* Reply message button: Removes background and border */
.ts-reply-message .icons-reply.ts-sym
{
	background: 0% !important;
	border: none !important;
}

/* Reply message button: Moves reply button up and to the right */
reply-message button[data-tid="replyMessageButtonShort"]
{
    margin-top: -28px !important;
    float: right !important;
	width: fit-content !important;
}

/* Reply message button: Removes 'Reply' text */
reply-message button[data-tid="replyMessageButtonShort"] span
{
	display: none !important;
}