.ts-message-thread-body .message-body {
     width: -webkit-fill-available !important;
} 

.chat-style .self .ts-message-thread-body {
    padding-left: 4.0rem !important;
}

.chat-style .thread-body:not(.self) .ts-message-thread-body {
    margin-right: 0rem !important; 
}  

.message-pane .new-typing-indicator, .message-list-common:not(.chat-style) .middle-messages-context-stripe .ts-message-list-container, .message-list-common:not(.chat-style) .ts-add-message .ts-new-message, .message-list-common:not(.chat-style) .ts-message-list-container, .message-list-common:not(.chat-style) .ts-new-meetup-animated, .message-list-common:not(.chat-style) prompt-to-talk, .message-list-common:not(.chat-style) smart-reply .smart-replies-alignment, .message-list-common:not(.chat-style) virtual-repeat>.list-wrap>.item-wrap, .ts-add-message.is-not-chat .ts-new-message
{
	max-width: 400rem !important;
}